.article-design-three {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .card1 {
    grid-area: 1 / 1 / 4 / 4;
    img {
      min-width: 50%;
      padding: 50px;
      padding-left: 0;
      max-width: 450px;
    }

    h3.title {
      font-family: "Playfair Display";
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  p.type {
    font-weight: 700;
    background-color: black;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 9px 5px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .card2 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .card3 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .card4 {
    grid-area: 4 / 3 / 5 / 4;
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-child) {
      .details {
        margin-left: auto;
        max-width: 265px;
      }
      img {
        max-width: 170px;
      }
      h3.title {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }
    }
    p.publisher {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
    }
  }
}
