.article-design-five {
  .full-width-card {
    height: 600px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background-color: #0000002e;
      width: 100%;
      left: 0;
      height: 100%;
    }
  }
  span.read {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: black;
    color: white;
    padding: 5px;
    z-index: 2;
    cursor: pointer;
  }

  p.sub-heading {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: white;
  }

  h2.title {
    font-family: "Playfair Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 698px;
    margin: 10px auto;
  }

  p.publisher {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 25px;
  }
  .detail {
    margin-top: auto;
    z-index: 2;
    margin-bottom: 5%;
  }
}
